.list {
    list-style: none;
}


.title {
    font-family: 'Quicksand';
    margin-bottom: 1rem;
    font-size: 2rem;
}

.link {
    all: unset;
    cursor: pointer;
    color: whitesmoke;
    transition: .2s ease;
}

.link:hover {
    color: white;
    transform: translateX(10px);
}

.copyright {
    margin: 5rem auto 0 auto;
    padding-bottom: 1rem;
    text-align: center;
    color: rgba(187, 186, 186, 0.87);
}