.header {
    background: url('/cbd-header.jpg');
    background-size: cover;
    background-position: top;
    font-family: 'Quicksand';
    text-align: center;
    color: white;
    padding: 8rem 4rem;
  }
  
  .header h1 {
    font-size: 3rem;
  }



.departement {
   padding: 4rem 5rem;
}

.departhead {
    width: 90%;
    margin: 0 auto 4rem auto;
    text-align: center;
  }

.ville {
   
    padding: 4rem 3rem;
}

.infocontainer {
    max-width: 30%;
    margin-right: 3rem;
    border-radius: 15px;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.2);
    float: left;
}

.flowers {
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.citygrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardstyle {
  background-color: #81b214;
  font-family: "Quicksand";
  text-align: center;
  padding: 1rem;
  color: white;
  border-radius: 15px;
  min-width: 30%;
  margin-bottom: 1rem;
  border: 1px solid #81b214;
  text-decoration: none !important;
  transition: color .3s ease, background-color .2s ease;
}

.cardstyle:hover {
  color: #81b214 !important;
  background-color: white;
}

@media screen and (max-width: 760px) {
  .header h1 {
    font-size: 2rem;
  }
  .citygrid {
    flex-direction: column;
  }
  .infocontainer {
    display: none;
  }
  .flowers {
    flex-direction: column;
}
.departement {
  padding: 2rem 1rem;
}
}